 {% extends 'base.html' %}
 {% block content %}
 <section class="py-5">
   <div class="container">
     <h2 class="fw-bold">Contact</h2>
     <div class="row mt-4">
       <div class="col-md-6">
         <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>Phone:</strong> 0906-508-8846</li>
           <li class="list-group-item"><strong>Email:</strong> streamplushub@gmail.com</li>
           <li class="list-group-item"><strong>Website:</strong> www.streampluspremiun.com</li>
           <li class="list-group-item"><strong>Location:</strong> Casillejos, Zambales</li>
         </ul>
       </div>
     </div>
   </div>
 </section>
 {% endblock %}



